@inherits F3Wasm.Layouts.F3BaseLayout;
@using F3Wasm.Models;
@using F3Core;

<div class="page">
    @if (!IsEmbed)
    {
        <div>
            <NavMenu Region="@Region"/>
        </div>
    }

    <main>
        @if (!IsEmbed)
        {
            <div class="top-row px-4"></div>
        }           

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
