@inherits F3Wasm.Layouts.F3BaseLayout;
@using F3Wasm.Models;

<div class="page">
    <div class="sidebar">
        <NavMenu Region="@Region"/>
    </div>

    <main>
        @if (new FunctionInput().IsTesting)
        {
            <div class="top-row px-4" style="background: red;">Test Mode</div>
        }
        else
        {
            <div class="top-row px-4"></div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
