@using F3Core
@using F3Core.Regions

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">F3 @GetRegionName()</a>
        @* <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button> *@
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                @* <span class="oi oi-home" aria-hidden="true"></span> Home *@
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Region { get; set; }
    public Region RegionInfo { get; set; }
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    public string GetRegionName()
    {
        Console.WriteLine("GetRegionName.ctor" + Region);
        RegionInfo = RegionList.All.FirstOrDefault(x => x.QueryStringValue == Region);
        return RegionInfo?.DisplayName ?? "";
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
