@inject NavigationManager Navigation
@inject HttpClient Http
@using F3Core
@using F3Core.Regions
@using F3Wasm.Data

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">@MenuTitle</a>
        @if (ShowRegionList)
        {
            <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        }
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            @foreach (var region in Regions.Where(x => x.IncludeInSector))
            {
                <a class="nav-link" href="@($"/data/{region.QueryStringValue}")" target="_blank">@region.DisplayName</a>
            }
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public string Region { get; set; }
    public RegionMetadata RegionInfo { get; set; }
    private bool collapseNavMenu = true;

    private string MenuTitle { get; set; }
    private bool ShowRegionList { get; set; } = false;
    private List<RegionMetadata> Regions { get; set; } = new();

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        Regions = await LambdaHelper.GetRegionsAsync(Http);

        var uri = Navigation.Uri;

        if (uri.Contains("sectordata"))
        {
            MenuTitle = "F3 Greater Sacramento";
            ShowRegionList = true;
        }
        else
        {
            RegionInfo = Regions.FirstOrDefault(x => x.QueryStringValue == Region);
            var display = RegionInfo?.DisplayName ?? "";

            if (!display.Contains("FiA"))
                display = "F3 " + display;

            MenuTitle = display;
        }
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
