@page "/"

<div>
    @* Emoji for waving *@
    <span role="img" aria-label="Waving hand">👋 RoBlox! Uploader is now at <a href="/upload/southfork">https://www.f3southforktools.com/upload/southfork</a></span>
</div>